{
    email no-reply@influenziaclub.com
    servers {
        protocols h1 h2
    }
}

test.influenziaclub.com, www.influenziaclub.com {
    redir https://influenziaclub.com{uri} permanent
}

influenziaclub.com {
    reverse_proxy frontend_final:80
}

